.navbar-nav{
  font-family:'Oxygen',sans-serif;
  text-decoration:black;
  font-weight: bold;
}
#nav-bar
{
	background-color:031103;
	position:static;
	top:0;
	z-index:10;
}
.nav-link:hover {
	background-image: url('C:\Users\hp\Desktop\banking-system-main\IMG_BANK(1200_x_900_pixel).jpg');
}
.nav-link {
	font-family:'Oxygen',sans-serif;
}
a{
	color:black;
}
